@page
@model Frontend.Pages.Producto.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.Peso" class="control-label"></label>
                <input asp-for="Producto.Peso" class="form-control" />
                <span asp-validation-for="Producto.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Tamaño" class="control-label"></label>
                <input asp-for="Producto.Tamaño" class="form-control" />
                <span asp-validation-for="Producto.Tamaño" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Stock" class="control-label"></label>
                <input asp-for="Producto.Stock" class="form-control" />
                <span asp-validation-for="Producto.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Detalle" class="control-label"></label>
                <input asp-for="Producto.Detalle" class="form-control" />
                <span asp-validation-for="Producto.Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Precio" class="control-label"></label>
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Cantidad" class="control-label"></label>
                <input asp-for="Producto.Cantidad" class="form-control" />
                <span asp-validation-for="Producto.Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Imagen" class="control-label"></label>
                <input asp-for="Producto.Imagen" class="form-control" />
                <span asp-validation-for="Producto.Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
