@{
    ViewData["Title"] = "Home page";
}

<section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home" data-background="/Home/assets/images/HouseBig.jpg">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Ladrillos Plasticos</div>
            <div class="font-alt mb-40 titan-title-size-4">BrickPlas</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Mas informacion</a>
        </div>
    </div>
</section>
<div class="main">
    <section class="module" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="module-title font-alt">Somos BrickPlas</h2>
                    <div class="module-subtitle font-serif large-text">Vinimos a revolucionar la industria de la construcción mediante la producción de ladrillos plásticos reciclados utilizando tecnología de impresión 3D. Nuestra visión es ofrecer soluciones sostenibles y personalizadas para la edificación, abordando desafíos ambientales y mejorando la eficiencia constructiva.</div>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module" id="caracteristicas">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Nuestros productos</h2>
                    <div class="module-subtitle font-serif">Comercializamos ladrillos personalizados hechos con plástico reciclado mediante impresión 3D.</div>
                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-recycle"></span></div>
                        <h3 class="features-title font-alt">Sostenibilidad ambiental</h3>
                        <p>Los ladrillos plásticos reciclados ayudan a mitigar la deforestación al evitar la tala de árboles para obtener leña utilizada en los hornos de los ladrillos tradicionales. Además, contribuyen a reducir la contaminación atmosférica al no emitir humo durante su producción. Al utilizar plástico reciclado como materia prima, se fomenta la economía circular y se reduce la cantidad de residuos plásticos en el medio ambiente.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-lightbulb"></span></div>
                        <h3 class="features-title font-alt">Eficiencia energética</h3>
                        <p>Los ladrillos plásticos reciclados ofrecen una mejor aislación térmica en comparación con los ladrillos tradicionales. Esto significa que se requiere menos espesor de ladrillos para lograr el mismo nivel de aislamiento, lo que reduce la cantidad de unidades y mortero de unión necesarios. Esto a su vez reduce los costos de construcción y el peso total de las estructuras, lo que puede llevar a un menor consumo de materiales y energía en general.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-tools"></span></div>
                        <h3 class="features-title font-alt">Ladrillos Personalizados</h3>
                        <p>Ofrecemos un enfoque innovador en la personalización de ladrillos plásticos a través de la tecnología de impresión 3D. Este proceso nos permite crear ladrillos que se adaptan de manera precisa a las necesidades y diseños únicos de cada cliente. Desde formas y tamaños específicos hasta texturas y patrones personalizados, nuestra tecnología de impresión 3D brinda la flexibilidad para transformar las ideas de nuestros clientes en realidad.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-gears"></span></div>
                        <h3 class="features-title font-alt">Impacto Economico</h3>
                        <p>Nuestra empresa ofrece una solución innovadora y sostenible en el mercado de la construcción. Al fabricar ladrillos con plástico reciclado, reducimos la dependencia de materias primas tradicionales, como la turba, que implica altos costos y daños ambientales. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-tools-2"></span></div>
                        <h3 class="features-title font-alt">Construccion Eficiente</h3>
                        <p> Nuestros ladrillos son altamente resistentes y duraderos, lo que garantiza una construcción sólida y de calidad. Su diseño modular y su ligereza facilitan su manipulación y transporte, lo que se traduce en ahorros significativos en tiempo y costos de construcción.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-genius"></span></div>
                        <h3 class="features-title font-alt">Soporte PostVenta</h3>
                        <p>Al elegir nuestros ladrillos plásticos reciclados, nuestros clientes están apostando por una construcción más sostenible, eficiente y ecoamigable. Estamos comprometidos con la excelencia y la innovación, y nuestro equipo de expertos está listo para brindar el mejor servicio y asesoramiento a nuestros clientes en cada etapa del proyecto.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Conoce a nuestro equipo</h2>
                    <div class="module-subtitle font-serif">Nuestro equipo está formado por expertos en ingeniería, sostenibilidad y tecnología, unidos por la pasión por la construcción ecoamigable y la innovación.</div>
                </div>
            </div>
            <div class="row">
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Home/assets/images/persona1.jpg" alt="Member Photo" />
                            <div class="team-detail">
                                <h5 class="font-alt">Hi all</h5>
                                <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">Carlos Cabral</div>
                            <div class="team-role">Gerente General</div>
                        </div>
                    </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Home/assets/images/persona2.jpg" alt="Member Photo" />
                            <div class="team-detail">
                                <h5 class="font-alt">Good day</h5>
                                <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">Antonio Romano</div>
                            <div class="team-role">Gerente Produccion</div>
                        </div>
                    </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Home/assets/images/persona3.jpg" alt="Member Photo" />
                            <div class="team-detail">
                                <h5 class="font-alt">Hello</h5>
                                <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">Simone Simmons</div>
                            <div class="team-role">HR</div>
                        </div>
                    </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="/Home/assets/images/persona4.jpg" alt="Member Photo" />
                            <div class="team-detail">
                                <h5 class="font-alt">Yes, it's me</h5>
                                <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">Angela Gossow</div>
                            <div class="team-role">Gerente Marketing</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="module-small bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                    <div class="callout-text font-alt">
                        <h3 class="callout-title">Suscribite para mas informacion</h3>
                        <p>Prometemos no mandar spam.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="callout-btn-box">
                        <form id="subscription-form" role="form" method="post" action="php/subscribe.php">
                            <div class="input-group">
                                <input class="form-control" type="email" id="semail" name="semail" placeholder="Your Email" data-validation-required-message="Por favor ingrese su email." required="required" /><span class="input-group-btn">
                                    <button class="btn btn-g btn-round" id="subscription-form-submit" type="submit">Enviar</button>
                                </span>
                            </div>
                        </form>
                        <div class="text-center" id="subscription-response"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="module" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Contactenos</h2>
                    <div class="module-subtitle font-serif"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form id="contactForm" role="form" method="post" action="php/contact.php">
                        <div class="form-group">
                            <label class="sr-only" for="name">Nombre</label>
                            <input class="form-control" type="text" id="name" name="name" placeholder="Su nombre*" required="required" data-validation-required-message="Por favor ingrese su nombre." />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="Su Email*" required="required" data-validation-required-message="Por favor ingrese su Email." />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="7" id="message" name="message" placeholder="Su consulta*" required="required" data-validation-required-message="Por favor ingrese su consulta."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Enviar</button>
                        </div>
                    </form>
                    <div class="ajax-response font-alt" id="contactFormResponse"></div>
                </div>
            </div>
        </div>
    </section>
