@page
@model Frontend.Pages.Usuario.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.apellido" class="control-label"></label>
                <input asp-for="Usuario.apellido" class="form-control" />
                <span asp-validation-for="Usuario.apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.contrasena" class="control-label"></label>
                <input asp-for="Usuario.contrasena" class="form-control" />
                <span asp-validation-for="Usuario.contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.email" class="control-label"></label>
                <input asp-for="Usuario.email" class="form-control" />
                <span asp-validation-for="Usuario.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.nombre" class="control-label"></label>
                <input asp-for="Usuario.nombre" class="form-control" />
                <span asp-validation-for="Usuario.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.nombreUsuario" class="control-label"></label>
                <input asp-for="Usuario.nombreUsuario" class="form-control" />
                <span asp-validation-for="Usuario.nombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Usuario.habilitado" /> @Html.DisplayNameFor(model => model.Usuario.habilitado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.cantidadDeIntentos" class="control-label"></label>
                <input asp-for="Usuario.cantidadDeIntentos" class="form-control" />
                <span asp-validation-for="Usuario.cantidadDeIntentos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
