@page
@model Frontend.Pages.Patente.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patente.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patente.nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Patente.idPatente">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
